@use "../../../scss/variable";

.counterWrapper {
  display: flex;
  height: 6rem;
  justify-content: center;
  align-items: center;
}

.counterBox {
  background: variable.$bg-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.2rem;
  height: 100%;
  min-width: 6rem;
  padding: 0.5rem 1rem;

  .time {
    color: #fafafa;
    font-size: 2rem;
  }

  .label {
    color: #fafafa;
    font-size: 1rem;
  }
}

.counterBox:first-child {
  margin-left: 0;
}

.counterBox:last-child {
  margin-right: 0;
}

.timeDivider {
  color: variable.$text-primary;
  font-size: 2rem;
}
