.counterWrapper {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
}

.counterBox {
  background: #131010;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0.2rem;
  min-width: 4rem;
  padding: 0.5rem 1rem;

  .time {
    color: #fafafa;
  }

  .label {
    color: #fafafa;
    font-size: 0.6rem;
  }
}

.counterBox:first-child {
  margin-left: 0;
}

.counterBox:last-child {
  margin-right: 0;
}

.timeDivider {
  color: #fafafa;
}
